<!DOCTYPE html>
<head>
  <style>
    body {
      text-align: center;
      background-position:center;
      font-family: helvetica;
    }

    input{
      border:0;
      padding:10px;
      font-size:23px;
    }
  </style>
</head>
<body>
  <h1>InstaClone</h1>
  <h2>Sign Up </h2>
  <form method="POST">
      {% csrf_token %}

   <input type="name" placeholder="Full Name" name="name" >
<br>
    <input type="username" placeholder="User Name" name="username" >
<br>
   <input type="email" placeholder="Email-Id" name="email" >
<br>
  <input type="password" placeholder="Password" name="password" >
<br>
<input type ="submit" value="SignUp">
  </form>
  <h3>  OR </h3>
<h3>Already a user?</h3>
  <form action="Sign in/" method="get">
        <input type="submit" class="btn btn-default" value="SignIn">
  </form>

</body>